html	{
	background-color: #1B1B1B;
	color: #FFF;
	font-family: arial, sans-serif;
}
body	{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
strong	{
}
a	{
	color: inherit;
	text-decoration: none;
}
.clear	{
	clear: both;
}
#myCanvas	{
	float: right;
	padding-top: 50px;
	padding-bottom: 0px;
}
#left	{
	float: left;
	width: 200px;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 20px;
	font-size: 20px;
}
#tic	{
	font-size: 32px;
	font-weight: bold;
}
#left input	{
	display: none;
}
#left input + strong	{
	opacity: 0.4;
}
#left input:checked + strong	{
	opacity: 1;
}
#assets	{
	color: #A179CE;
}
#planets	{
	color: #64992C;
}
#ships	{
	color: #F4D35A;
}
#miners	{
	color: #54A0E2;
}
#attackers	{
	color: #FEB59C;
}
#bottom	{
	text-align: center;
	Font-weight: bold;
	font-size: 40px;
	width: 925px;
	margin-left: 275px;
}